<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xihu.conference.xihu.mapper.SubscriptionMapper">

    <select id="selectAllAgendas" resultType="com.xihu.conference.xihu.vo.SubscriptionAgendaVO">
        select s.id,
               s.user_id,
               a.id agendaId,
               a.title,
               a.tag,
               a.cover,
               a.content_url,
               a.is_live,
               a.sub_title,
               a.timespan
        from subscription s
                 left join agenda a on s.matter_id = a.id
        where s.type = 0
          and s.user_id = #{userId}
    </select>
    <select id="selectAllActivities" resultType="com.xihu.conference.xihu.vo.SubscriptionActivityVO">
        select s.id, s.user_id, a.id activityId, a.name, a.content_id, a.cover, a.timespan
        from subscription s
                 left join activity a on s.matter_id = a.id
        where s.type = 1
          and s.user_id = #{userId}
          and a.is_bookable = 1
    </select>
</mapper>